<style>
    .card-body{
        background-color: hsl(267, 39%, 58%);
        color: black;
    }
    .card{
        text-align: center;
    }
    .center-column{
        width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
    }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="center-column">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title mt-4">Delete the task</h5>
          <p class="card-text">Are you sure you want to delete the {{item}} ?</p>
         <div class="d-flex">
             <form action="" method="POST" class="form-inline ">
                 {%csrf_token%}
                 <a class="btn btn-warning" style="margin-left: 185px;" href="{% url 'list' %}">Cancel</a>
              <button type="submit" class="btn btn-warning ml-3">Confirm</button>
              </form>
         </div>
        </div>
      </div>
</div>
